.special-offer
  margin: 81px 0 102px
  background-color: #fafcfe
  &__wrap
    display: flex
    align-items: stretch
    justify-content: space-between
  &__col
    display: flex
    align-items: center
    justify-content: start
    width: 48%
  &__img
    margin-top: -30px
    margin-left: 20px
  &__title
    color: $textHover
    font-size: 30px
    font-weight: 500
    max-width: 290px
    &--reg
      font-size: 22px
      font-weight: 400
  &__text
    max-width: 535px
    color: $text
    font-size: 18px
    font-weight: 400
    line-height: 24px
    &--medium
      font-weight: 500
    &--primary
      color: $textHover