.prices
  &__title
    margin-top: -2px
  &__table
    width: 100%
    margin-top: 15px
    border-collapse: collapse
    th
      color: $textHover
      font-size: 20px
      font-weight: 500
      text-align: left
      padding: 21px 0 21px 73px
      background-color: #f2f9fd
      &:nth-of-type(2)
        width: 212px  
      &.second
        width: 300px 
              
    td
      color: $text
      font-size: 20px
      font-weight: 400
      padding: 21px 0 21px 73px
    tr      
      &:nth-of-type(2n+2)
        padding: 20px
        background: rgba($text, 0.02)
        td
          padding: 20px 0 15px 73px

        

