.tabs
  &__question
    padding: 0
    background: $light
    margin-top: 74px
    &--mt
      margin-top: 40px
    &-side
      align-items: start
      &-left
        max-width: 55%
    &-block
      &-size
        top: 8px
    &-title
      margin: 0
      font-size: 30px
      margin-bottom: 32px
      &--maxwidth
        max-width: 500px
      &--mb
        margin-bottom: 3px
    &-subtitle
      margin: 0
      font-size: 20px
      margin-bottom: 27px
      &--size
        font-size: 22px
      &--maw
        max-width: 500px
      &--phone
        color: $text

