// медиа запросы для внутренних страниц услуг с табами
@media (max-width: 1170px)
  .tabs
    &__question
      padding: 0
      &-block
        &-size
          top: 8px
          margin-right: 0
          max-width: 420px
          min-width: auto
      &-title
        font-size: 26px
        margin-bottom: 32px
        &--mb
          margin-bottom: 2px
      &-subtitle
        font-size: 18px
        margin: 0
        max-width: 410px
        margin-bottom: 27px
 
        
@media (max-width: 1024px)
  .xl-hidden
    display: none
  .tabs   
    // шапка с вкладками
    &__header    
      &-item      
        font-size: 18px
        padding: 20px 0     
    &__wrap
      flex-direction: column
    &__col
      max-width: 86%
    &__text
      font-size: 18px
      margin-bottom: 28px
    &__list
      margin-bottom: 35px
      &-title
        margin-bottom: 20px
        margin-top: 10px
  .special-offer
    margin-bottom: 70px
    &--margin
      margin-top: 56px
    &__col     
      width: 55%
    &__img     
    &__title
      font-size: 26px
      line-height: 24px
      &--reg
        font-size: 20px
    &__text
      max-width: 386px
      font-size: 16px
      line-height: 22px
      padding-left: 14px
      margin-top: 10px  
  .valuation
    .special-offer      
      &__col     
        width: 49%         
      &__text
        max-width: 430px  
        padding-left: 0
      &__subtitle      
        display: block
        max-width: 300px 
        font-size: 18px
  .prices    
    &__table
      margin-top: 25px
      th
        font-size: 18px
        padding: 15px 0           
      td
        font-size: 18px
        padding: 18px 0
      tr      
        &:nth-of-type(2n+2)
          td
            padding-top: 15px
            padding-bottom: 15px
      &--four
        th, td
          &:first-of-type
            width: 41%
            padding-left: 4%
      &--w56
        th, td
          &:first-of-type
            width: 57%
 
  .documents
    &__title
      margin-top: 0
  .category-list
    margin-top: 30px
    &__item
      margin-bottom: 30px    
    &__dropdown
      padding: 40px 50px
      font-size: 20px     
      &::after       
        right: 50px        
    &-document 
      flex-direction: column 
      align-items: start  
      padding-top: 65px    
      &__item
        width: 100%
        margin-bottom: 60px
        font-size: 18px
        &:last-of-type
          margin-bottom: 74px
        &-text
          max-width: 100%
  .audit
    &__title
      max-width: 100px
  .apartment
    &__table
      th, td
        &:first-of-type
          width: 58%
  .warning
    margin-top: 25px
    padding: 37px 0
    &-bg
      position: absolute
      right: 50px
      bottom: -34px  
    &__title   
      width: 38% 
    &-descr
      width: 43% 
    &__text
      max-width: 340px
      font-size: 16px
      &--ml
        margin-left: 28px     
      &--bigger
        font-size: 18px
    
  

@media (max-width: 1020px)
  .tabs
    &__question
      &-title
        max-width: 500px
      &-subtitle
        max-width: 100%
      &-side
        flex-direction: column
        align-items: center
        &-left
          max-width: 100%

@media (max-width: 991px)
  .tabs   
    padding-bottom: 200px
    &__header  
      margin-top: 5px
      overflow-x: scroll
      overflow-y: hidden
      white-space: nowrap 
      &-item   
        min-width: 235px   
        padding: 17px 0     
    &__wrap
      flex-direction: column
    &__col
      max-width: 90%    
    &__text
      line-height: 23px
      margin-bottom: 23px
    &__list
      margin-bottom: 35px
      &-title
        margin-top: 4px  
      &-item
        margin-bottom: 13px
        max-width: 635px
    &__question  
      margin-top: 36px
      &-side
        align-items: center
        &-left
          width: 100%
          max-width: 100%
        &-right
          margin-top: 0
      &-block
        &-size
          top: 8px
      &-title
        font-size: 24px
        margin-bottom: 25px
      &-subtitle
        font-size: 18px
        margin-bottom: 27px 
        max-width: 96%  
        
  .special-offer
    position: relative
    margin: 91px 0 62px
    &__wrap
      flex-direction: column
      align-items: flex-end
    &__col
      margin-right: 74px    
    &__img
      position: absolute
      bottom: 0
      left: -6px
      img
        width: 111%
        max-width: 111%
    &__title
      font-size: 24px
      max-width: 255px
      &--reg
        font-size: 20px
    &__text
      font-size: 16px
      padding-left: 0
      margin-bottom: 40px
  .valuation
    .special-offer
      &__col     
        justify-content: start
        width: 55%
        &--tac
          justify-content: start  
      &__text
        margin-bottom: 0
      &__title
        margin-top: 40px
      &__subtitle      
        display: block
        max-width: 300px
      &__img
        position: absolute
        bottom: 50%
        transform: translateY(50%)
        left: 37px 
      &__descr
        margin-bottom: 30px
  .prices
    &__title
      margin-top: 0
    &__table
      margin-top: 29px
      th
        padding: 15px 0      
      td
        font-size: 18px
        padding: 18px 0 
      tr      
        &:nth-of-type(2n+2)
          td
            padding-top: 14px
            padding-bottom: 12px
      th, td
        &:first-of-type
          width: 65%     
      &--three
        th, td
          &:first-of-type
            width: 45%
      &--four
        th, td
          width: 14%
          &:first-of-type
            width: 28%
      &--w56
        th, td
          width: 14%
          &:first-of-type
            width: 41%
 
        
  .category-list
    margin-top: 40px
  .valuation
    &__hero
      background: $light url('../img/valuation/main-bg-md.png') no-repeat center/cover
  .liquidation-OOO
    &__question
      margin-top: 12px
      &-title
        margin-bottom: 15px
  .registration-OOO
    &__list
      &-item
        max-width: 100%
        margin-bottom: 22px
  .apartment
    &__table
      th, td
        width: 15%
        &:first-of-type
          width: 40%
        &:last-of-type
          padding-right: 30px
  .warning
    margin-top: 66px
    &-bg
      right: 8px
    &__img
      min-width: 70px
      img
        width: 100%
    &__title
      width: 42%

@media (max-width: 700px)
  .special-offer
    margin: 91px 0 62px
    &__wrap
      align-items: flex-start
    &__col
      width: 100%
      margin-right: 0   
    &__img
      bottom: 0
      left: auto
      right: 0      
      max-width: 180px
      img
        width: 100%
    &__title
      font-size: 24px
      max-width: 255px
      &--reg
        font-size: 20px
    &__text
      font-size: 16px
      padding-left: 0
      margin-bottom: 40px
  .valuation
    .special-offer      
      &__img
        position: absolute
        bottom: 50%
        transform: translateY(50%)
        left: auto
        right: 0
      &__descr
        margin-bottom: 30px
  .tabs
    &__question
      &-side
        &-right
          display: block

@media (max-width: 576px) 
  .tabs
    padding-bottom: 78px
    &__breadcrumbs
      bottom: -45px
      &--bottom
        bottom: -32px
    &__header  
      margin-top: 29px   
      margin-bottom: 30px 
      &-item   
        min-width: 164px   
        padding: 13px 0   
        font-size: 13px 
    &__col
      max-width: 99%
    &__description
      &-title
        max-width: 76%
        margin-bottom: 20px       
        &--limit
          max-width: 83%
    &__text
      line-height: 16px
      margin-bottom: 16px
      font-size: 13px
    &__list
      margin-bottom: 19px
      &--mb
        margin-bottom: -17px
      &-title
        margin-top: 0  
        margin-bottom: -5px
      &-item
        margin-bottom: 9px
        max-width: 635px
    &__question 
      &-block
        &-size
          &::before
            display: none
        &-inner
          padding: 35px 35px 37px 37px
        &-group
          margin-bottom: 12px
          &:nth-of-type(2)
            margin-bottom: 27px            
        &-input
          padding: 0
          font-size: 18px
        &-button
          height: 70px
          span
            font-size: 18px
      &-label
        font-size: 15px
        margin-bottom: 7px

      &-title
        font-size: 18px
        &--mb
          margin-bottom: 2px
      &-subtitle
        font-size: 13px
        margin-bottom: 16px 
        &--size
          font-size: 15px
  .special-offer
    margin: 72px 0 48px
    &--margin
      margin: 22px 0 54px 
    &__wrap
      align-items: flex-start
    &__col
      width: 75%
      margin-right: 0
      padding-left: 25px   
    &__img
      bottom: 0
      left: auto
      right: -10px      
      max-width: 100px
      img
        width: 100%
    &__title
      font-size: 18px
      max-width: 160px
      line-height: 18px
      &--reg
        font-size: 13px
    &__text
      font-size: 12px
      padding-left: 0
      margin-bottom: 33px
      max-width: 220px
      line-height: 14px
  .valuation
    .special-offer      
      &__img
        position: absolute
        bottom: 72%
        left: auto
        right: -31px
        img
          width: 80%
      &__col
        width: 90%
      &__descr
        margin-bottom: 30px
      &__subtitle
        font-size: 13px
        max-width: 220px
  .prices
    &__title
      margin-top: 0
    &__table
      margin-top: 24px
      th
        font-size: 12px
        padding: 12px 0     
      td
        font-size: 12px
        padding: 12px 0
      tr      
        &:nth-of-type(2n+2)
          td
            padding-top: 11px
            padding-bottom: 10px
      &-descr
        font-size: 12px
        margin-bottom: 20px
        &--m0
          margin: 0
        &--mt28
          margin-top: 28px
      th, td
        &:first-of-type
          width: 65%    
        &:last-of-type
          padding-right: 10px 
      &--three
        th, td
          width: 15%
          &:first-of-type
            width: 45%
      &--four
        th, td
          width: 14%
          &:first-of-type
            width: 28%
      &--w56
        th, td
          width: 14%
          &:first-of-type
            width: 41%
  
  .category
    &-list
      margin-top: 24px
      &__dropdown
        padding: 22px 20px
        font-size: 13px
        &::after
          right: 20px
          font-size: 22px
      &__item
        margin-bottom: 13px
      &-document    
        padding-top: 35px       
        &__item
          margin-bottom: 32px
          padding-left: 38px
          font-size: 13px
          max-width: 359px
          &--mb24
            margin-bottom: 24px
          &:last-of-type
            margin-bottom: 45px
          &::before           
            top: 50%
            transform: translateY(-50%)
            left: 0           
            font-size: 30px
  .warning
    margin-top: 21px
    &__wrap
      flex-direction: column
      align-items: start
    &-bg
      bottom: -24px    
    &__img
      min-width: 50px
      img
        width: 100%
    &__title, &-descr
      width: 85%
    &-descr
      margin-left: 24px
      margin-top: 10px
    &__text
      max-width: 455px
      font-size: 12px
      line-height: 14px    
      &--bigger
        font-size: 13px
  .valuation
    &__hero
      background: $light url('../img/valuation/main-bg-min.png') no-repeat bottom/cover
  .changing, .apartment
    &__title 
      max-width: 225px
  .liquidation, .registration
    &-OOO
      &__title
        max-width: 200px
  .registration-OOO
    &__list
      margin-bottom: 30px
      &-item
        margin-bottom: 9px
  .report
    &__title
      max-width: 330px
    &__tabs
      padding-top: 62px
  .outsourcing
    &__title
      &--reg
        max-width: 150px
  .judge
    &__title
      max-width: 230px
  .subtitle
    &--maw50
      max-width: 90%

 

        

    
        