@media (max-width: 1800px)
    .call-appraiser
        &__relative
            &::after
                right: 0
                background-size: contain
                max-width: 320px
@media (max-width: 1720px)
    .call-appraiser
        &__relative
            &::after
                right: 0
                background-size: contain
                max-width: 280px
@media (max-width: 1600px)
    .call-appraiser
        &__relative
            &::after
                display: none
@media (max-width: 1500px)
    .call-appraiser
        &__relative
            &::before
                background-size: 70%
                max-width: 900px
                bottom: -40px
@media (max-width: 1400px)
    .call-appraiser
        &__relative
            &::before
                left: 0
@media (max-width: 1350px)
    .call-appraiser
        &__relative
            &::before
                background-size: 100%
                max-width: 650px
                bottom: -60px
    .question
        &__bg
            &::before
                left: 50px
@media (max-width: 1280px)
    .activities-arrow
        &__next
            right: -50px
        &__prev
            left: -70px
    .header
        &__info
            margin: 7px 0 0
        &__logo
            margin-left: 0
        &__button
            margin: -7px 0 0
        &-contacts
            &__items
                margin: 3px 0 0
    .nav
        &-search
            &__button
                margin: 3px -20px 0 0 
        &-list
            &__item
                margin-right: 40px !important  
@media (max-width: 1240px)
    .question
        &__bg
            &::before
                left: 0
    .offer
        .container
            max-width: 1060px
        &-block
            &__image
                max-width: 468px    
                height: 284px 
            &__top
                padding: 35px 0 0 40px
                margin-bottom: 22px
            &__title
                font-size: 26px
            &__center
                margin-left: 35px
                top: 125px
                &-list
                    margin-bottom: 20px
            &__bottom
                top: 245px
                margin-left: 35px  
                &-link
                    font-size: 16px  
            &__item
                &:nth-child(3) 
                    .offer-block
                        &__bottom
                            top: 125px       
@media (max-width: 1170px)
    .activities
        &-slide
            &r
                &__size
                    max-width: 800px
            &__image
                max-width: 250px
                height: 355px
    .about-company
        &-sides
            &__text 
                p
                    font-size: 18px
            &__assessment
                font-size: 16px
                margin-top: -10px
            &__left
                max-width: 460px 
            &__block
                width: 190px
                height: 144px
            &__slide
                max-width: 480px
            &__arrow
                &-next
                    top: 92px
                &-prev
                    top: 165px
            &__image
                max-width: 80%
@media (max-width: 1150px)
    .footer-col
        &__item
            &:nth-child(2)
                margin-left: 0 
@media (max-width: 1143px) 
    .causes
        &__bg
            min-height: 800px
        &-block
            &s
                &__size
                    max-width: 350px
                    margin: 0 auto
                .slick
                    &-dots
                        +flex
                        justify-content: center
                        padding: 0
                        margin: 0
                        list-style-type: none
                        li
                            width: 14px
                            height: 14px
                            border-radius: 50%
                            border: 2px solid $textHover
                            margin-right: 10px
                            &:last-child
                                margin-right: 0
                            button
                                display: none
                        li.slick-active
                            background-color: $textHover
@media (max-width: 1140px) 
    .question
        padding: 81px 0 40px
        &__title
            font-size: 32px
        &__subtitle
            font-size: 20px
        &-side
            &__image
                max-width: 408px
                bottom: -45px
                img
                    max-width: 408px
                    height: 424px   
    .header
        &-contacts
            &__open
                display: none
            &__items
                max-width: 170px
            &__address
                display: flex
                &::before
                    width: 20px
                    height: 20px
    .nav
        &-list
            &__item
                margin-right: 25px !important
                &s
                    margin-left: 0
        &-search
            &__button
                margin: 3px 0 0   
@media (max-width: 1080px)
    .call-appraiser
        &__relative
            &::before
                bottom: -25px
        &-side
            &__title
                font-size: 32px
                span
                    font-size: 26px
            &__subtitle
                font-size: 20px
            &__text
                max-width: 440px
                p
                    font-size: 18px
    .causes
        &-wrap
            &__number
                font-size: 102px
            &__text 
                font-size: 26px
                max-width: 260px
                span
                    font-size: 32px
        &-block
            &__left
                margin-right: 15px
@media (max-width: 1050px)
    .requisites-list
        &__item
            font-size: 15px
    .footer
        &__address
            font-size: 15px
        &__phone, 
        &__email
            font-size: 16px
        &-col
            &__item
                &:nth-child(5)
                    margin-right: 0
                    margin-left: 10px
@media (max-width: 1024px)
    #arrow-top
        right: 3%
        bottom: 0
    .modal
        &__input,
        &__button
            font-size: 20px
    .footer
        &__info,
        &__link
            font-size: 15px
    .call-appraiser
        &-block
            &__title
                font-size: 26px
            &__input
                font-size: 20px
                &::placeholder
                    font-size: 20px
            &__group
                &:nth-child(4) 
                    .call-appraiser
                        &-block
                            &__label
                                font-size: 16px
            &__button 
                span
                    font-size: 20px
    .activities
        &__subtitle
            font-size: 26px
    .causes
        &-wrap
            &__size
                margin-bottom: 39px
            &__number
                margin: -3px 18px 0 14px
    .about-company
        padding: 64px 0
        &__title
            margin-bottom: 28px
        &-sides
            &__left
                margin-left: 14px
            &__text
                p
                    line-height: 22px
            &__assessment
                margin-top: -44px
            &__link
                margin-top: -3px
                font-size: 18px
            &__block
                &:first-child
                    &::after
                        bottom: -22px
                        right: -22px
            &__arrow
                &-prev
                    top: 158px
                    right: 15px
                &-next
                    right: 15px
    .label
        font-size: 16px
    .policy
        padding-left: 20px
    .question
        padding: 62px 0 17px
        &__bg
            &::before
                display: none
        &__subtitle 
            margin: 18px 0 0 12px
        &-side
            &__image
                left: 35px
                bottom: -17px
        &-block
            &__size
                top: -73px
                max-width: 420px
                min-width: auto
                margin-right: 16px
            &__inner
                padding: 45px 45px 61px 43px
                max-width: none
                min-width: auto
            &__label
                padding-left: 20px
            &__group
                &:nth-child(1),
                &:nth-child(2) 
                    .label__relative
                        &::before
                            left: -5px
                &:nth-child(2) 
                    margin-bottom: 34px
                &:nth-child(3) 
                    margin-bottom: 23px
                &:nth-child(4) 
                    margin-bottom: 6px
                    .policy__relative
                        &::before
                            left: 0
            &__input
                &::placeholder
                    font-size: 20px
            &__button 
                span
                    font-size: 20px
    .title
        font-size: 32px
    .offer
        padding: 70px 0
        &__title
            margin-left: 13px
        &__subtitle
            margin: 0 0 36px 13px
            font-size: 26px
        &-block
            &__item
                margin-bottom: 22px
                &:first-child, 
                &:last-child
                    margin-left: 14px
                &:nth-child(1) 
                    .offer-block
                        &__title
                            max-width: 300px
                &:nth-child(2)
                    .offer-block
                        &__image
                            margin-right: 13px
                &:nth-child(3) 
                    .offer-block
                        &__bottom
                            top: 130px
            &__title
                margin-top: 7px
                padding-left: 70px
                &::before
                    width: 54px
                    height: 54px
                    border-radius: 50%
                    background-size: cover !important
            &__center
                top: 117px
                &-title
                    font-size: 16px
                    margin-bottom: 7px
                &-item
                    font-size: 16px
                    line-height: 22px
            &__bottom
                top: 225px
                &-text
                    font-size: 16px
                    margin: 0 0 18px
                &-button
                    width: 185px
                    height: 50px
                &-mark
                    top: 82px
                    left: 228px
                    font-size: 15px
                    &::before
                        background-size: cover
                        width: 10px
                        height: 15px
                        margin-left: -20px
            &__subtitle
                font-size: 18px
                margin: 0 0 0 71px
    .header
        .container
            max-width: 1000px
        &__content
            padding: 18px 0 23px     
        &__info
            margin: 10px 0 0 -19px     
        &-contacts
            &__items
                margin: 10px 0 0 30px  
        &__button
            max-width: 190px
            height: 50px                               
            margin: 0
        &-info
            &__phone
                margin: 9px 0 0px
    .nav
        &-list
            &__items
                margin-left: 13px
            &__link
                font-size: 16px
            &__item
                &:nth-child(1)
                    margin-right: 31px !important
                &:nth-child(2)
                    margin-right: 36px !important
                &:nth-child(3),
                &:nth-child(4)
                    margin-right: 34px !important
                &:nth-child(5)
                    margin-right: 33px !important
                &:nth-child(6)
                    margin-right: 33px !important
                &:last-child
                    margin-right: 0 !important
        &-search
            &__button
                margin-left: auto
    .hero
        &__bg
            min-height: 604px
        &-sides
            &__title
                font-size: 38px
                padding-top: 42px
                margin-bottom: 4px
                max-width: 370px   
                line-height: 44px
            &__somewhere
                font-size: 26px
                margin: 12px 0 18px
            &__item
                font-size: 16px   
                line-height: 23px
            &__button
                font-size: 20px
                margin: 35px 0 0 4px
            &__left
                margin-left: 15px
            &__right
                margin-top: 50px
                margin-right: 16px
    .wiget-phone
        right: 3%
        bottom: 12%          
    .social
        &-list
            &__item
                margin-bottom: 7px
@media (max-width: 1023px)
    .header
        box-shadow: 0px 17px 30px 0px rgba(71, 101, 135, 0.08)
        &__relative
            position: fixed
            top: 0
            left: 0
            width: 100%
            background-color: $light
            z-index: 10
        .container
            max-width: 1020px
        &__content
            padding: 18px 0 14px
            border-bottom: none
            position: relative
        &__button
            display: none
        &__burger
            display: block  
            background-color: transparent
            border: none
            position: absolute
            top: 28px
            right: 7px
            z-index: 10
        &__logo
            margin-top: -4px
            margin-left: 12px
        &__info
            margin: 4px 0 0 -10px
        &-contacts
            &__items
                margin: 4px 0 0 110px
        &-info
            &__phone
                margin: 3px 0 0 8px
                width: 170px
            &__email
                margin-right: 164px
                margin-left: 10px
        &-search
            background-color: transparent
            border: none
            &__button
                display: block
                width: 36px
                height: 36px
                fill: $search
                position: absolute
                top: 25px
                right: 64px
    .burger
        width: 40px
        height: 22px
        &__top,
        &__center,
        &__bottom
            width: 28px
            height: 4px
            display: block
            background-color: $button
            border-radius: 3px
            position: absolute
            transition: .3s
        &__top
            top: 0
        &__center
            top: 9px
        &__bottom
            top: 18px
    .nav
        .container
            padding: 0
        &__shadow
            position: fixed
            top: 0
            left: 0
            width: 100%
            z-index: 5
            margin-top: 80px
        &-list
            display: none
            width: 100%
            +flex-column
            padding: 30px 30px
            background-color: $light
            border-bottom: 1px solid #cfeafa
            &__item
                &:first-child 
                    .nav-list
                        &__link
                            &::after
                                display: none
            &__link
                padding: 15px 0
            &__children
                position: static
                opacity: 1
                visibility: visible
                padding: 20px 0 20px 15px
                &-link
                    font-weight: normal
                    font-size: 16px
                    position: relative
                    display: block
                    &::after
                        content: ''
                        position: absolute
                        top: 4px
                        right: 0
                        background: url('../img/menu-arrow-right.png') no-repeat
                        width: 8px
                        height: 14px
            &__items
                margin-left: 0
            &__item
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6)
                    margin-right: 0 !important                    
        &-search
            &__button 
                display: none
        &-info
            padding: 40px 30px 80px 30px
            width: 100%

            &--primary
                background-color: #f4fbff
            &__top
                &-phone
                    font-size: 22px
                    display: block
                    margin-bottom: 15px
                &-open
                    font-size: 15px
                    color: rgba($text, .6)
                    margin: 0
            &__bottom
                margin-top: 30px
                &-address
                    margin: 0
                    font-size: 18px
                    color: $text
                    max-width: 280px
                .social
                    &s
                        display: block
                        margin-top: 15px
                    &-list
                        +flex
                        &__item
                            margin-right: 10px
    .search
        &-form
            &__group
                top: -80px
                height: 80px   
                box-shadow: 0px 17px 30px 0px rgba(71, 101, 135, 0.08)       
    .hero
        &-sides
            &__left
                margin-left: 15px
            &__button
                max-width: 310px
    .wiget-phone
        bottom: 15%
@media (max-width: 1020px)
    .footer 
        .container
            max-width: 760px
            position: relative
        &__title
            display: none
        &-col
            &__item
                &:nth-child(5)
                    position: absolute
                    top: 70px
                    right: 75px
                &:nth-child(4)
                    position: absolute
                    top: 70px
                    right: 37%
    .activities
        padding: 120px 0 150px
        &-slide
            &r
                &__size
                    max-width: 500px
        &-arrow
            &__next
                right: -115px
            &__prev
                left: -105px
    .call-appraiser
        &-side
            flex-direction: column
            &__text
                max-width: 100%
            &__message
                max-width: 100%
        &__relative
            &::before
                bottom: auto
                left: auto
                top: -40px
                right: 0
                max-width: 500px
                min-height: 250px
        &-block
            &__size
                margin: -90px auto 0
    .message__out
        top: -480px
        right: 120px
    .header
        .container
            max-width: 762px
        &__info
            display: none  
        &-contacts
            &__items
                margin: 4px 0 0    
        &-info
            &__email
                margin-right: 152px  
    .hero
        .container
            max-width: 762px
        &__bg
            min-height: 560px
        &-sides
            &__title,
            p
                font-size: 36px
            p
                max-width: 330px
            &__somewhere
                margin: 13px 0 20px
            &__item
                line-height: 22px
            &__button
                margin: 35px 0 0
            &__right
                margin-top: 48px
                margin-right: 12px
    .wiget-phone
        right: 4%
        bottom: 22%            
@media (max-width: 1000px)
    .about-company
        &-sides
            +flex-column
            &__left
                max-width: 100%
            &__assessment
                margin-top: -10px
            &__right
                margin-top: 25px
            &__slide
                margin: 0 auto
                max-width: 400px
            &__arrow
                &-prev,
                &-next
                    top: 50%
                    transform: translateY(-50%)
                &-prev
                    right: auto
                    left: 15px
                &-next

    .offer
        .container
            max-width: 768px
        &-block
            &s
                +flex-column-center
            &__item
                &:first-child, 
                &:last-child
                    margin-left: 0
            &__item:nth-child(2) 
                .offer-block
                    &__image
                        margin-right: 0
            &:last-child 
                .offer-block
                    &__image
                        max-width: 468px
            &__image
                height: 284px
                object-fit: cover
            &__top
                padding: 25px 0 0 20px
            &__bottom
                margin-left: 20px
                &-text
                    font-size: 15px
                    line-height: 18px
                    max-width: 350px
                &-mark
                    display: none
            &__center
                margin-left: 20px
                &-item
                    font-size: 15px
@media (max-width: 992px)
    .question
        &__title
            font-size: 28px  
@media (max-width: 950px)
    .question
        padding: 62px 0 80px
        &-side
           +flex-column-center
        &-block
            &__size
                margin-right: 0
                top: auto
        &-side
            &__left
                position: static
            &__right
                margin-top: 35px
            &__image
                left: -90px   
@media (max-width: 860px)
    .call-appraiser
        &__relative
            &::before
                max-width: 400px
    .message
        &__out
            top: -470px
            right: 60px  
@media (max-width: 768px) 
    .modal
        &__size
            max-width: 420px
        &__inner
            padding: 47px 38px 47px 38px
        &__group
            &:nth-child(1) 
                margin-bottom: 24px
                .modal
                    &__label
                        margin-bottom: 10px
            &:nth-child(2) 
                margin-bottom: 35px
            &:nth-child(4) 
                margin-bottom: 20px
        &-reviews
            &__title
                font-size: 24px
    .activities
        padding: 70px 0 100px
        &__title
            font-size: 28px
        &__subtitle 
            font-size: 24px
    .call-appraiser
        padding: 80px 0
        &-side
            &__title
                font-size: 28px
                span
                    font-size: 24px
            &__subtitle
                max-width: 280px
                margin-bottom: 15px
            &__text 
                p
                    margin: 0 0 15px
        &-block
            &__size
                margin: -110px auto 0
                max-width: 410px
            &__inner
                padding: 50px 35px 40px
    .causes
        &-wrap
            &__text
                font-size: 24px
                max-width: 250px
                span
                    font-size: 28px
        &-block
            &__size
                margin: 35px 0 57px 10px
    .hero
        &-sides
            &__title
                max-width: 350px
                margin-bottom: -5px
    .about-company
        padding: 74px 0   
        &__title
            font-size: 28px
            margin-left: 10px
            margin-bottom: 32px
        &-sides
            &__left
                margin-left: 10px
            &__text 
                p
                    line-height: 24px
            &__assessment
                margin-top: -19px
                margin-bottom: -15px
            &__block
                &:first-child
                    &::after
                        bottom: -24px
                        right: -24px
    .wiget-phone
        bottom: 27%      
@media (max-width: 740px)
    .footer 
        .container
            flex-direction: column
        &-col
            &__item
                margin-bottom: 20px
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5)
                    margin-left: 0
                &:nth-child(4),
                &:nth-child(5)
                    position: static
        &__address
            max-width: 100%
            margin-left: 0
        &__link
            position: absolute
            bottom: -20px
            left: 15px
    .call-appraiser
        &__button
            display: block
            max-width: 315px
            height: 90px
            margin: 210px auto 0
            span
                font-size: 20px
        &-side
            &__right
                display: none
            &__message
                max-width: 260px
                margin: 0 auto
        &__relative
            &::before
                top: auto
                bottom: 180px
                right: auto
                left: 50%
                transform: translateX(-50%)
    .message
        &__out
            top: auto
            left: 50%
            transform: translateX(-50%)
    .activities
        &-slide
            &r
                &__size
                    max-width: 250px
        &-arrow
            &__next
                right: -80px
            &__prev
                left: -75px
    .question
        &-side
            &__image
                left: -130px
    .header
        &-contacts
            &__items
                display: none
        &-info
            display: none
        &__call
            display: block
            position: absolute
            top: 28px
            right: 120px                 
@media (max-width: 700px) 
    .question
        padding: 62px 0 0
        &__button
            display: block
            margin: 30px auto
            max-width: 315px
            height: 95px
            span
                font-size: 20px
        &-side
            &__right
                display: none
            &__image
                position: static
@media (max-width: 620px) 
    .modal
        &-thanks
            &__size
                max-width: 400px
            &__close
                top: 3px
                right: 3px
                background-color: transparent
    .about-company
        padding: 74px 0 140px
        &-sides
            &__arrow
                &-prev,
                &-next
                    top: auto
                    bottom: -115px 
                &-prev
                    left: 10%
                &-next
                    right: 10%
@media (max-width: 590px) 
    .modal
        &-reviews
            &__close
                top: 3px
                right: 3px
                background-color: transparent
@media (max-width: 560px) 
    .modal
        &__size
            max-width: 97%
        &__close
            top: 3px
            right: 3px
            background-color: transparent 
        &__button
            height: 70px
            max-width: 238px
            margin: 0 auto
        &__inner
            padding: 40px 30px 47px 30px
@media (max-width: 510px)  
    .header
        &-search
            &__button
                display: none
        &__call
            right: 60px
    .hero
        &-sides
            &__right
                display: none
        &__scroll
            display: none
        &__bg
            background: url('../img/hero/hero-mb.jpg') center no-repeat
            width: 100%
            min-height: 760px 
            background-size: cover   
    .wiget-phone
        bottom: 14%              
@media (max-width: 480px)
    .modal
        &-reviews
            &__size
                max-width: 95%
@media (max-width: 450px)
    .modal
        &-reviews
            &__inner
                padding: 40px 30px 47px
    #arrow-top
        right: 5%
    .question
        &__title,
        &__subtitle
            margin-left: 0
        &__title
            font-size: 22px
        &__subtitle
            font-size: 18px
        &-side
            &__image
                max-width: 100% 
                height: 347px
                img
                    max-width: 100%
                    height: 347px
    .offer
        &-block
            &__item
                &:nth-child(1) 
                    .offer-block
                        &__title
                            max-width: 210px
                        &__image
                            height: auto
                &:nth-child(2) 
                    .offer-block
                        &__title
                            max-width: 250px
                        &__image
                            height: auto
                &:nth-child(3) 
                    .offer-block
                        &__bottom
                            top: 120px
            &__title
                font-size: 18px
            &__subtitle
                font-size: 13px
            &__image
                box-shadow: none
            &__center
                top: 90px
            &__bottom
                top: 200px
            &__top
                padding: 15px 0 0 20px
    .hero
        &__bg
            min-height: 650px
        &-sides
            &__left
                margin: 0 auto
                max-width: 100%
            &__title, 
            p
                font-size: 32px
            &__somewhere
                font-size: 22px
            &__item
                font-size: 13px
                line-height: 16px
            &__button
                margin: 35px auto 0         
@media (max-width: 430px)
    .modal
        &-thanks
            &__text
                font-size: 18px
            &__size
                max-width: 95%
    .activities
        &__title,
        &__subtitle
            margin-left: 0
        &__subtitle
            font-size: 18px
        &-arrow
            &__next,
            &__prev
                top: auto
                bottom: -100px
            &__next
                right: 10%
            &__prev
                left: 10%
    .call-appraiser
        &-side
            &__left
                margin-left: 0
            &__title
                span
                    font-size: 18px
    .causes
        &-wrap
            &__number
                font-size: 100px
            &__text
                font-size: 18px
                span
                    font-size: 22px
    .hero
        &-sides
            &__title
                max-width: 270px
                line-height: 30px
    .about-company
        &__title
            margin-left: 0
        &-sides
            &__arrow
                &-prev
                    left: 15%
                &-next
                    right: 15%
            &__text 
                p
                    font-size: 14px
            &__left
                margin-left: 0
            &__block
                width: 164px
                height: 124px
            &__slide
                max-width: 350px
    .title
        font-size: 22px
    .offer
        &__subtitle
            font-size: 20px
@media (max-width: 400px)
    .modal
        &__inner
            padding: 40px 20px 47px 20px
        &__button
            span
                font-size: 18px
    .causes
        &-wrap
            &__number
                margin: -3px 18px 0 0
        &-block
            &__title
                font-size: 15px
                max-width: 140px
            &__text
                font-size: 14px
                max-width: 170px
            &s
                &__size
                    max-width: 290px
    .offer
        &-block
            &__item
                &:nth-child(1),
                &:nth-child(2) 
                    .offer-block
                        &__title
                            max-width: none
                &:nth-child(3)
                    .offer-block
                        &__title
                            &::before
                                top: 16px
            &__image
                max-width: none
            &__center
                top: 80px
                &-item,
                &-title
                    font-size: 13px
            &__bottom
                top: 170px
                &-text
                    font-size: 13px
                &-link
                    font-size: 13px
            &__title
                padding-top: 8px
                padding-left: 50px
                &::before
                    width: 40px
                    height: 40px
            &__subtitle
                margin: 0 0 0 50px
@media (max-width: 375px)
    .modal
        &-thanks
            &__inner
                padding: 40px 15px
            &__title
                font-size: 18px
            &__text
                font-size: 16px
        &-reviews
            &__button 
                height: 70px
                span
                    font-size: 18px
            &__input
                font-size: 18px
            &__label
                margin-bottom: 10px
            &__group
                &:last-child
                    margin-bottom: 0
@media (max-width: 360px)
    .modal
        &-reviews
            &__inner
                padding: 40px 15px
    #arrow-top
        bottom: 20px
        width: 50px
        height: 50px
    .modal
        &__size
            max-width: 95%
    .footer
        &__link
            bottom: -22px
        &__info
            margin: 13px 0 3px
        &-col
            &__item
                margin-bottom: 19px
    .causes
        &-wrap
            &__text
                margin-top: 6px
            &__size
                margin-bottom: 10px
        &-block
            &__size
                margin: 35px 0 35px 8px
        &__bg
            min-height: 640px
    .about-company
        padding: 49px 0 103px
        &__title
            margin-bottom: 19px
        &-sides
            &__text 
                p
                    line-height: 21px
            &__assessment
                font-size: 14px
                margin-top: -26px
                margin-bottom: 0
                img
                    width: 80px
                    height: 80px
                    position: relative
                    top: 6px
            &__link
                font-size: 15px
            &__arrow
                &-next,
                &-prev
                    bottom: -103px
                &-next
                    right: 34%
                &-prev
                    left: 28%
            &__image
                max-width: 76%
            &__right
                margin-top: 45px
            &__slide
                max-width: 340px
            &__block
                width: 160px
    .question
        padding: 100px 0 0
        &__subtitle
            margin: 13px 0 0
            font-size: 16px
        &__button
            margin: 32px auto
    .offer
        padding: 0 0 70px
        &__size
            margin-top: -85px
        &__title
            margin-left: 0
        &__subtitle
            margin-left: 0
            margin-bottom: 28px
        &-block
            &__item
                margin-bottom: 15px
            &__title
                padding-top: 13px
                padding-left: 57px
                &::before
                    width: 47px
                    height: 47px
            &__top
                padding: 8px 0 0 20px
            &__center
                top: 70px
            &__bottom
                top: 160px
            &__item
                &:nth-child(3)
                    .offer-block
                        &__image
                            height: 250px
                        &__bottom
                            top: 90px
    .header
        &__content
            padding: 13px 0 6px
        &__logo
            margin-left: 0
        &__call
            top: 23px
            right: 48px
        &__burger
            top: 22px
            right: -2px
    .logo
        &__text
            font-size: 12px
    .hero
        &__bg
            margin-top: 20px
            background-size: auto
            min-height: 690px
        &-sides
            &__title
                padding-top: 20px
                margin-bottom: 0
                font-size: 32px
                max-width: 317px
                line-height: 37px
            &__somewhere
                margin: 9px 0 18px
            &__item
                line-height: 18px
            &__button
                margin: 22px auto 0
    .wiget-phone
        bottom: 27%
        &__button
            width: 56px
            height: 56px
            &::before
                width: 76px
                height: 76px
        &__svg
            width: 22px
            height: 22px
    .nav
        &__shadow
            margin-top: 60px
        &-list
            padding: 28px 15px
            &__link
                font-size: 15px
            &__children
                &-link
                    font-size: 14px
        &-info
            &__top
                &-phone
                    font-size: 20px
                    margin-bottom: 5px
                &-open
                    font-size: 13px
            &__bottom
                &-address
                    font-size: 15px
@media (max-width: 355px)
    .causes
        &-wrap
            &__text
                max-width: 170px
                font-size: 16px
                span
                    font-size: 20px
    .about-company
        &-sides
            &__block
                width: 140px
                height: 115px
            &__slide
                max-width: 300px
            &__arrow
                &-next
                    right: 27%
                &-left
                    left: 27%
    .hero
        &-sides
            &__item
                +flex
                margin-bottom: 3px
                span
                    display: block
                    margin-left: 4px             
@media (max-width: 340px)   
    .question
        &-side
            &__image
                height: 300px
                img
                    height: 300px
    .offer
        &-block
            &__title
                font-size: 16px
            &__center
                &-item
                    line-height: normal
                    &::before
                        top: 7px
            &__bottom
                top: 148px 
            &__top
                padding: 8px 0 0 10px        
    .hero
        &-sides
            &__title, 
            p
                font-size: 28px
            p
                max-width: 270px
@media (max-width: 330px) 
    .about-company
        &-sides
            &__block
                width: 120px
                height: 100px
            &__slide
                max-width: 260px
@media (max-width: 320px) 
    .offer
        &-block
            &__item
                &:nth-child(3) 
                    .offer-block
                        &__title
                            &::before
                                top: 7px