@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url("../fonts/Rubik-Black.eot");
  src: local("Rubik Black"), local("Rubik-Black"), url("../fonts/Rubik-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Black.woff2") format("woff2"), url("../fonts/Rubik-Black.woff") format("woff"), url("../fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url("../fonts/Rubik-Italic.eot");
  src: local("Rubik Italic"), local("Rubik-Italic"), url("../fonts/Rubik-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Italic.woff2") format("woff2"), url("../fonts/Rubik-Italic.woff") format("woff"), url("../fonts/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url("../fonts/Rubik-Medium.eot");
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url("../fonts/Rubik-BlackItalic.eot");
  src: local("Rubik Black Italic"), local("Rubik-BlackItalic"), url("../fonts/Rubik-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-BlackItalic.woff2") format("woff2"), url("../fonts/Rubik-BlackItalic.woff") format("woff"), url("../fonts/Rubik-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url("../fonts/Rubik-Regular.eot");
  src: local("Rubik Regular"), local("Rubik-Regular"), url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url("../fonts/Rubik-Light.eot");
  src: local("Rubik Light"), local("Rubik-Light"), url("../fonts/Rubik-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff"), url("../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url("../fonts/Rubik-BoldItalic.eot");
  src: local("Rubik Bold Italic"), local("Rubik-BoldItalic"), url("../fonts/Rubik-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-BoldItalic.woff2") format("woff2"), url("../fonts/Rubik-BoldItalic.woff") format("woff"), url("../fonts/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url("../fonts/Rubik-LightItalic.eot");
  src: local("Rubik Light Italic"), local("Rubik-LightItalic"), url("../fonts/Rubik-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-LightItalic.woff2") format("woff2"), url("../fonts/Rubik-LightItalic.woff") format("woff"), url("../fonts/Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url("../fonts/Rubik-Bold.eot");
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url("../fonts/Rubik-MediumItalic.eot");
  src: local("Rubik Medium Italic"), local("Rubik-MediumItalic"), url("../fonts/Rubik-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-MediumItalic.woff2") format("woff2"), url("../fonts/Rubik-MediumItalic.woff") format("woff"), url("../fonts/Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("Myriad Pro Regular"), local("MyriadPro-Regular"), url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-Semibold.eot");
  src: local("Myriad Pro Semibold"), local("MyriadPro-Semibold"), url("../fonts/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Semibold.woff2") format("woff2"), url("../fonts/MyriadPro-Semibold.woff") format("woff"), url("../fonts/MyriadPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-Cond.eot");
  src: local("Myriad Pro Condensed"), local("MyriadPro-Cond"), url("../fonts/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Cond.woff2") format("woff2"), url("../fonts/MyriadPro-Cond.woff") format("woff"), url("../fonts/MyriadPro-Cond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-BoldCond.eot");
  src: local("Myriad Pro Bold Condensed"), local("MyriadPro-BoldCond"), url("../fonts/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldCond.woff2") format("woff2"), url("../fonts/MyriadPro-BoldCond.woff") format("woff"), url("../fonts/MyriadPro-BoldCond.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-Bold.eot");
  src: local("Myriad Pro Bold"), local("MyriadPro-Bold"), url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff2") format("woff2"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-SemiboldIt.eot");
  src: local("Myriad Pro Semibold Italic"), local("MyriadPro-SemiboldIt"), url("../fonts/MyriadPro-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiboldIt.woff2") format("woff2"), url("../fonts/MyriadPro-SemiboldIt.woff") format("woff"), url("../fonts/MyriadPro-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-CondIt.eot");
  src: local("Myriad Pro Condensed Italic"), local("MyriadPro-CondIt"), url("../fonts/MyriadPro-CondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-CondIt.woff2") format("woff2"), url("../fonts/MyriadPro-CondIt.woff") format("woff"), url("../fonts/MyriadPro-CondIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-BoldIt.eot");
  src: local("Myriad Pro Bold Italic"), local("MyriadPro-BoldIt"), url("../fonts/MyriadPro-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldIt.woff2") format("woff2"), url("../fonts/MyriadPro-BoldIt.woff") format("woff"), url("../fonts/MyriadPro-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-It.eot");
  src: local("Myriad Pro Italic"), local("MyriadPro-It"), url("../fonts/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-It.woff2") format("woff2"), url("../fonts/MyriadPro-It.woff") format("woff"), url("../fonts/MyriadPro-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  font-display: swap;
  src: url("../fonts/MyriadPro-BoldCondIt.eot");
  src: local("Myriad Pro Bold Condensed Italic"), local("MyriadPro-BoldCondIt"), url("../fonts/MyriadPro-BoldCondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldCondIt.woff2") format("woff2"), url("../fonts/MyriadPro-BoldCondIt.woff") format("woff"), url("../fonts/MyriadPro-BoldCondIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.container__relative {
  position: relative;
}

.section__relative {
  position: relative;
}

.input {
  width: 100%;
}

.input::-webkit-input-placeholder {
  opacity: 1;
}

.input:-ms-input-placeholder {
  opacity: 1;
}

.input::-ms-input-placeholder {
  opacity: 1;
}

.input::placeholder {
  opacity: 1;
}

.phone {
  color: #476587;
  display: block;
}

.phone span {
  font-weight: 500;
}

.email {
  color: #476587;
  display: block;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 45px;
  position: relative;
}

.button--primary {
  text-shadow: 0px 0px 10px rgba(8, 131, 206, 0.38);
  color: #ffffff;
  background-color: #289ae2;
  -webkit-box-shadow: inset 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.12);
          box-shadow: inset 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.12);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.button--primary:hover {
  background-color: #1f99e3;
}

.button--primary:focus {
  background-color: #0b8ede;
}

.button span {
  position: relative;
  z-index: 5;
  display: block;
}

.button::after, .button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.button::before {
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 45px;
  -webkit-box-shadow: inset 10px 2px 18px 4px rgba(255, 255, 255, 0.2);
          box-shadow: inset 10px 2px 18px 4px rgba(255, 255, 255, 0.2);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1e97e0), to(#1e97e0)), -webkit-gradient(linear, left bottom, left top, from(#64c0fb), to(#1e97e0));
  background-image: -webkit-linear-gradient(bottom, #1e97e0 0%, #1e97e0 100%), -webkit-linear-gradient(bottom, #64c0fb 0%, #1e97e0 100%);
  background-image: -o-linear-gradient(bottom, #1e97e0 0%, #1e97e0 100%), -o-linear-gradient(bottom, #64c0fb 0%, #1e97e0 100%);
  background-image: linear-gradient(to top, #1e97e0 0%, #1e97e0 100%), linear-gradient(to top, #64c0fb 0%, #1e97e0 100%);
}

.button::after {
  top: 4px;
  left: 1px;
  border-radius: 45px;
  -webkit-box-shadow: 6px 14px 30px rgba(8, 127, 204, 0.2);
          box-shadow: 6px 14px 30px rgba(8, 127, 204, 0.2);
  background-color: #087fcc;
}

.title {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
}

.title--primary {
  color: #1e97e0;
}

.header__content {
  padding: 30px 0 34px;
  border-bottom: 1px solid #eceff3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-left: 12px;
}

.header__info {
  color: #476587;
  display: block;
  margin: 7px 0 0 -33px;
}

.header-contacts__items {
  margin: 3px 0 0 65px;
}

.header-contacts__address {
  margin: 0;
  color: #476587;
}

.header-contacts__address::before {
  content: url("../img/map.svg");
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 9px;
}

.header-contacts__open {
  margin: 0 0 0 20px;
  color: rgba(71, 101, 135, 0.7);
}

.header-info__phone {
  margin: 5px 0 2px;
}

.header__button {
  max-width: 206px;
  height: 61px;
  margin: -7px -2px 0 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__text {
  text-transform: uppercase;
  width: 180px;
  color: #ff8932;
  font-size: 14px;
  margin: 4px 0 0 7px;
  font-weight: 500;
  letter-spacing: 0.14px;
}

.nav_shadow {
  position: relative;
  -webkit-box-shadow: 0px 17px 30px 0px rgba(71, 101, 135, 0.08);
          box-shadow: 0px 17px 30px 0px rgba(71, 101, 135, 0.08);
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-list__item {
  margin-right: 62px;
}

.nav-list__item:first-child .nav-list__link {
  padding-right: 22px;
}

.nav-list__item:first-child .nav-list__link::after {
  content: '';
  background: url("../img/menu-arrow.png") no-repeat;
  width: 12px;
  height: 7px;
  position: absolute;
  top: 25px;
  right: 0;
}

.nav-list__item:first-child:hover .nav-list__children {
  opacity: 1;
  visibility: visible;
}

.nav-list__item:first-child + .nav-list__link:hover .nav-list__children {
  opacity: 1;
  visibility: visible;
}

.nav-list__item:nth-child(2) {
  margin-right: 64px;
}

.nav-list__item:nth-child(3) {
  margin-right: 63px;
}

.nav-list__item:nth-child(4) {
  margin-right: 64px;
}

.nav-list__item:nth-child(5) {
  margin-right: 62px;
}

.nav-list__item:nth-child(6) {
  margin-right: 62px;
}

.nav-list__item:last-child {
  margin-right: 0;
}

.nav-list__items {
  margin-left: 13px;
}

.nav-list__link {
  font-size: 18px;
  display: block;
  color: #476587;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  position: relative;
  padding: 19px 0 20px;
}

.nav-list__link:hover {
  color: #1e97e0;
}

.nav-list__children {
  background-color: #fefefe;
  padding: 28px 26px 30px;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 59px;
  left: 20px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.nav-list__children-item {
  margin-bottom: 20px;
}

.nav-list__children-item:last-child {
  margin-bottom: 0;
}

.nav-list__children-link {
  font-weight: 500;
  font-size: 15px;
  color: #476587;
}

.nav-search__button {
  background-color: transparent;
  border: none;
  margin: 3px -50px 0 0;
}

.nav-search__button svg {
  width: 23px;
  height: 23px;
  fill: #dbdee3;
}

.search-form__group {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.search-form__group.search-active {
  opacity: 1;
  visibility: visible;
}

.search-form__input {
  color: #476587;
  border: none;
  padding: 0 40px;
  height: 100%;
}

.search-form__input::-webkit-input-placeholder {
  font-size: 20px;
  color: rgba(71, 101, 135, 0.6);
}

.search-form__input:-ms-input-placeholder {
  font-size: 20px;
  color: rgba(71, 101, 135, 0.6);
}

.search-form__input::-ms-input-placeholder {
  font-size: 20px;
  color: rgba(71, 101, 135, 0.6);
}

.search-form__input::placeholder {
  font-size: 20px;
  color: rgba(71, 101, 135, 0.6);
}

.search-form__button-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-form__button-close svg {
  width: 23px;
  height: 23px;
  fill: #dbdee3;
}

.search-form__button-search {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-form__button-search svg {
  width: 23px;
  height: 23px;
  fill: #1b95df;
}

.wiget-phone {
  position: fixed;
  right: 5%;
  bottom: 15%;
}

.wiget-phone__button {
  border: none;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#088edb), color-stop(0%, #1e97e0), color-stop(53%, #41acee), to(#64c0fb));
  background-image: -webkit-linear-gradient(left, #088edb 0%, #1e97e0 0%, #41acee 53%, #64c0fb 100%);
  background-image: -o-linear-gradient(left, #088edb 0%, #1e97e0 0%, #41acee 53%, #64c0fb 100%);
  background-image: linear-gradient(90deg, #088edb 0%, #1e97e0 0%, #41acee 53%, #64c0fb 100%);
  -webkit-box-shadow: 0px 2px 35px 0px rgba(255, 255, 255, 0.08);
          box-shadow: 0px 2px 35px 0px rgba(255, 255, 255, 0.08);
}

.wiget-phone__button::before {
  content: '';
  opacity: .65;
  background-color: inherit;
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -12px;
  left: -12px;
  border-radius: 100%;
  -webkit-animation: mango-pulse 2s infinite ease-in-out;
          animation: mango-pulse 2s infinite ease-in-out;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  z-index: -1;
}

.wiget-phone__svg {
  width: 34px;
  height: 34px;
  fill: #ffffff;
}

@-webkit-keyframes mango-pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes mango-pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.hero__bg {
  background: url("../img/hero/hero.jpg") center/cover no-repeat;
  width: 100%;
  min-height: 670px;
  position: relative;
}

.hero-sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-sides__left {
  margin-left: 11px;
  max-width: 500px;
}

.hero-sides__right {
  margin-top: 47px;
}

.hero-sides__title {
  font-size: 45px;
  padding-top: 40px;
  margin-bottom: 5px;
}

.hero-sides p {
  font-size: 45px;
  margin: 0;
  color: #1e97e0;
  max-width: 420px;
}

.hero-sides__somewhere {
  font-size: 30px;
  color: #476587;
  margin: 16px 0 24px;
}

.hero-sides__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-sides__item {
  color: #476587;
  font-size: 18px;
  line-height: 25px;
}

.hero-sides__button {
  margin: 34px 0 0 2px;
  max-width: 315px;
  height: 90px;
}

.hero-sides__button span {
  font-size: 22px;
}

.hero__scroll {
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff3e1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.hero__scroll::after {
  content: '';
  background: url("../img/hero/scroll-down.png") center no-repeat;
  width: 13px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__scroll::before {
  content: '';
  opacity: .8;
  background-color: inherit;
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -14px;
  left: -14px;
  border-radius: 100%;
  -webkit-animation: mango-pulse-scroll 2s infinite ease-in-out;
          animation: mango-pulse-scroll 2s infinite ease-in-out;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  z-index: -1;
}

@-webkit-keyframes mango-pulse-scroll {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes mango-pulse-scroll {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-list__item {
  margin-bottom: 9px;
}

.social-list__item:last-child {
  margin-bottom: 0;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  width: 51px;
  height: 51px;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(49, 154, 219, 0.09);
          box-shadow: 0px 3px 16px 0px rgba(49, 154, 219, 0.09);
}

@media (max-width: 1280px) {
  .header__info {
    margin: 7px 0 0;
  }
  .header__logo {
    margin-left: 0;
  }
  .header__button {
    margin: -7px 0 0;
  }
  .header-contacts__items {
    margin: 3px 0 0;
  }
  .nav-search__button {
    margin: 3px -20px 0 0;
  }
  .nav-list__item {
    margin-right: 40px !important;
  }
}

@media (max-width: 1140px) {
  .header-contacts__open {
    display: none;
  }
  .header-contacts__items {
    max-width: 170px;
  }
  .header-contacts__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-contacts__address::before {
    width: 20px;
    height: 20px;
  }
  .nav-list__item {
    margin-right: 25px !important;
  }
  .nav-list__items {
    margin-left: 0;
  }
  .nav-search__button {
    margin: 3px 0 0;
  }
}

@media (max-width: 1024px) {
  .header .container {
    max-width: 1000px;
  }
  .header__content {
    padding: 18px 0 23px;
  }
  .header__info {
    margin: 10px 0 0 -19px;
  }
  .header-contacts__items {
    margin: 10px 0 0 30px;
  }
  .header__button {
    max-width: 190px;
    height: 50px;
    margin: 0;
  }
  .header-info__phone {
    margin: 9px 0 0px;
  }
  .nav-list__items {
    margin-left: 13px;
  }
  .nav-list__link {
    font-size: 16px;
  }
  .nav-list__item:nth-child(1) {
    margin-right: 31px !important;
  }
  .nav-list__item:nth-child(2) {
    margin-right: 36px !important;
  }
  .nav-list__item:nth-child(3), .nav-list__item:nth-child(4) {
    margin-right: 34px !important;
  }
  .nav-list__item:nth-child(5) {
    margin-right: 33px !important;
  }
  .nav-list__item:nth-child(6) {
    margin-right: 33px !important;
  }
  .nav-list__item:last-child {
    margin-right: 0 !important;
  }
  .nav-search__button {
    margin-left: auto;
  }
  .hero__bg {
    min-height: 604px;
  }
  .hero-sides__title {
    font-size: 38px;
    padding-top: 42px;
    margin-bottom: 4px;
  }
  .hero-sides p {
    font-size: 38px;
    max-width: 370px;
  }
  .hero-sides__somewhere {
    font-size: 26px;
    margin: 12px 0 18px;
  }
  .hero-sides__item {
    font-size: 16px;
    line-height: 23px;
  }
  .hero-sides__button {
    font-size: 20px;
    margin: 35px 0 0 4px;
  }
  .hero-sides__right {
    margin-top: 50px;
    margin-right: 16px;
  }
  .wiget-phone {
    right: 3%;
    bottom: 12%;
  }
  .social-list__item {
    margin-bottom: 7px;
  }
}
/*# sourceMappingURL=style.css.map */